<!doctype html><html><head><style>
 body { font-family: Verdana, sans-serif; font-size:12px; margin:0; }
 table { border-collapse: collapse; width:100%; }
 .c1 { padding:4px 6px; }
 .c2 { padding:4px 6px; font-weight:bold; background:#f4f6f8; border-bottom:1px solid #c3ccd3; }
</style></head><body>
<table>
 <tr><td class="c2" colspan="2">Balances</td></tr>
 <tr><td class="c1">Savings balance</td><td class="c1">${{ member.savings_balance }}</td></tr>
 <tr><td class="c1">Checking balance</td><td class="c1">${{ member.checking_balance }}</td></tr>
</table>
</body></html>
